/* #region common*/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #22343d;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea,
button {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
}
button {
  cursor: pointer;
  padding: 0;
}
a {
  text-decoration: none;
}

.hidden {
  display: none;
}
.container {
  width: 411px;
  padding: 0 20px;
  margin: 0 auto;
}
.container-wrapper {
  display: flex;
  align-items: center;
  gap: 84px;
}
@media screen and (min-width: 1150px) {
  .container {
    width: 1110px;
  }
  .container-wrapper {
    display: flex;
    align-items: center;
    gap: 84px;
  }
}
/* #endregion common*/

/* #region index page */

/* #region header */
.header {
  margin: 0 auto;
}
.header-container {
  display: flex;
  padding-top: 17px;
  padding-bottom: 16.64px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.logo-menu {
  display: none;
}
.button {
  display: none;
}
.menu-btn {
  display: block;
  background-color: transparent;
  border: none;
  margin-left: 154px;
}
.menu-fill {
  stroke: #173a56;
}
.menu-fill:focus {
  stroke: #2d3943;
}

@media screen and (min-width: 1150px) {
  .header-container {
    padding-top: 19px;
    padding-bottom: 19px;
    box-shadow: none;
  }
  .nav {
    display: flex;
    gap: 237px;
    margin-right: 73px;
  }
  .logo {
    gap: 16px;
  }
  .logo-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
  }
  .menu-calc {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .menu {
    font-weight: 400;
    line-height: 1.75;
    color: #22343d;
  }
  .active-menu {
    font-weight: 600;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 21px;
  }
  .btn-sign-in-white {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    font-weight: 600;
    text-align: center;
    color: #173a56;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-sign-in-white:hover,
  .btn-sign-in-white:focus {
    background-color: #e0e0e0;
  }
  .btn-sign-in-black {
    border-radius: 4px;
    width: 113px;
    height: 42px;
    font-weight: 600;
    text-align: center;
    background-color: #02897a;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-sign-in-black:hover,
  .btn-sign-in-black:focus {
    background-color: #017164;
  }
  .menu-btn {
    display: none;
  }
}

/* #endregion */

/* #region hero */

.hero {
  padding-top: 29.32px;
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10.73px;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  margin-bottom: 16.03px;
  text-align: center;
}
.hero-text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 14.97px;
  text-align: center;
  width: 326px;
}
.hero-list {
  display: flex;
  gap: 28px;
  align-items: center;
}
.hero-btn-start {
  display: block;
  border-radius: 4px;
  width: 142px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-start:hover,
.hero-btn-start:focus {
  background-color: #017164;
}
.hero-btn-watch {
  display: flex;
  border: none;
  width: 165px;
  align-items: center;
  background-color: transparent;
}
.hero-btn-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8.71px;
}
.hero-btn-text {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.hero-img-svg {
  width: 338px;
  height: 100%;
}
@media screen and (min-width: 1150px) {
  .hero {
    padding-top: 25px;
  }
  .hero-container {
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    align-items: center;
  }
  .hero-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
  }
  .hero-text {
    text-align: left;
    width: 465px;
  }
  .hero-list {
    gap: 30px;
  }
  .hero-btn-start {
    width: 178px;
  }
  .hero-btn-watch {
    width: 165px;
  }
  .hero-btn-svg {
    margin-right: 8.66px;
  }
  .hero-img-svg {
    width: 610px;
    height: 555px;
  }
}

/* #endregion */

/* #region feature */

.feature {
  padding-bottom: 50px;
}

/* #endregion */

/* #endregion */
