body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  padding-top: 19px;
}
.nav {
  display: flex;
  gap: 237px;
  margin-right: 73px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
  margin: 0;
}
.logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin: 0;
}
.logo-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  gap: 30px;
  padding-left: 0;
}
.menu-calc {
  flex-basis: calc((100% - 3 * 30) / 4);
}
.menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  text-decoration: none;
}
.active-menu {
  font-weight: 600;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 21px;
  margin: 0;
  padding: 0;
}
.btn-sign-in-white {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: transparent;
  cursor: pointer;
}
.btn-sign-in-black {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  background-color: #02897a;
  color: #fff;
  border: none;
  cursor: pointer;
}
