body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #22343d;
  background: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

img {
  display: block;
}
input,
textarea,
button {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
.logo-menu,
.button {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  padding-top: 19px;
  padding-bottom: 19px;
}
.nav {
  display: flex;
  gap: 237px;
  margin-right: 73px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  margin: 0;
}
.logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin: 0;
}
.logo-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;

  gap: 30px;
}
.menu-calc {
  flex-basis: calc((100% - 3 * 30) / 4);
}
.menu {
  font-weight: 400;
  line-height: 1.75;
  color: #22343d;
  text-decoration: none;
}
.active-menu {
  font-weight: 600;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 21px;
}
.btn-sign-in-white {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-sign-in-white:hover,
.btn-sign-in-white:focus {
  background-color: #e0e0e0;
}
.btn-sign-in-black {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  background-color: #02897a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-sign-in-black:hover,
.btn-sign-in-black:focus {
  background-color: #017164;
}
.container-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 100px;
}
.hero {
  display: block;
  margin: 112px 35px 112px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}
.hero-text {
  font-size: 18px;
  line-height: 1.55556;
  margin-bottom: 45px;
}
.hero-button {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
}
.hero-btn-start {
  display: block;
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-start:hover,
.hero-btn-start:focus {
  background-color: #017164;
}
.hero-btn-watch {
  display: flex;
  border: none;
  align-items: center;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.hero-btn-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8.66px;
}
.hero-btn-text {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.hero-img {
  display: block;
}

.feature-title {
  font-weight: 700;
  font-size: 32px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 539px;
  margin-bottom: 50px;
}
.feature-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.feature-item {
  width: 255px;
}
.feature-svg-1 {
  display: block;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #02897a;
  margin-bottom: 18.11px;
}
.feature-svg-2 {
  display: block;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #4d8dff;
  margin-bottom: 18.11px;
}
.feature-svg-3 {
  display: block;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #740a76;
  margin-bottom: 18.11px;
}
.feature-svg-4 {
  display: block;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #f03e3d;
  margin-bottom: 18.11px;
}
.feature-name {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}
.feature-text {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 50px;
}
.feature-btn {
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feature-btn:hover,
.feature-btn:focus {
  background-color: #017164;
}
.container-box-3 {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}
.manager-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 84px;
}
.manager-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 25px;
}
.manager-span {
  font-weight: 700;
  font-size: 32px;
}
.manager-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 35px;
}
.manager-chouse {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
}
.manager-chouse-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}
.manager-chouse-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
.manager-svg {
  display: block;
  justify-content: center;
  align-items: center;
}
.support-svg {
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 84px;
}
.support-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.support-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 30px;
}
.support-chouse {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
}
.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.staff-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 542px;
  text-align: center;
  margin-bottom: 40px;
}
.staff-people {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 100px;
  justify-content: center;
  margin-bottom: 50px;
}
.staff-people-box {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  width: 408px;
  justify-content: space-around;
}
.staff-vector {
  position: relative;
}
.staff-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 999;
}
.staff-people-box-white {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.staff-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background: #02897a;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.staff-btn:hover,
.staff-btn:focus {
  background-color: #017164;
}
.container-news-feed {
  display: flex;
  flex-direction: column;
  margin-bottom: 171px;
  justify-content: left;
}
.news-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
}
.news-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 40px;
}
.news-box {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.news-box-group {
  border: 1px solid #dedede;
  border-radius: 8px;
  width: 350px;
}
.news-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-top: 24px;
  margin-left: 24.4px;
  margin-bottom: 12px;
}
.news-text-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  margin-left: 27px;
  margin-bottom: 40px;
}

.container-pricing {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
}
.news-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
}
.news-title-text {
  font-weight: 500;
  font-size: 16px;
}
.pricing-box {
  display: flex;
  gap: 72px;
  list-style-type: none;
}
.pricing-box-group {
  border-radius: 8px;
  width: 322px;
  height: 456px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.pricing-box-group-green {
  border-radius: 8px;
  width: 322px;
  height: 456px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #02897a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.pricing-group-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  margin-bottom: 8px;
}
.pricing-group-title-green {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  margin-bottom: 8px;
  color: #fff;
}
.pricing-group-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 15px;
}
.pricing-group-text-green {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 15px;
  color: #fff;
}
.pricing-box-span {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}
.pricing-box-span-green {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}
.pricing-span-figure {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.pricing-span-figure-green {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.pricing-box-span-group {
  justify-content: center;
}
.pricing-box-span-group-green {
}
.pricing-span-buks {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.pricing-span-buks-green {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #fff;
}
.pricing-group-time {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.pricing-group-time-green {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
.pricing-group-note {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
.pricing-group-note-green {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
  color: #fff;
}
.pricing-group-note-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  font-family: "Montserrat", sans-serif;
}
.pricing-group-note-text-green {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.pricing-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 0;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #02897a;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pricing-btn:hover,
.pricing-btn:focus {
  background-color: #017164;
}
.pricing-btn-green {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #02897a;
  padding: 0;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pricing-btn-green:hover,
.pricing-btn-green:focus {
  background-color: #e0e0e0;
}
.container-feedback {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
}
.feedback-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}
.feedback-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 40px;
  max-width: 573px;
}
.feedback-box {
  display: flex;
  gap: 64px;
  list-style-type: none;
}
.feedback-box-group {
  border: 1px solid #dedede;
  border-radius: 5px;
  width: 327px;
  padding: 0;
}
.feedback-svg {
  margin-bottom: 16px;
  margin-top: 28px;
  margin-left: 26px;
}
.feedback-box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 26px;
}
.feedback-box-group-people {
  display: flex;
  gap: 14px;
  margin-left: 26px;
  margin-bottom: 28px;
}
.feedback-box-group-people-wahid {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
  text-decoration: none;
}
.feedback-text-desiner {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
}
.promo-box {
  display: flex;

  border-radius: 32px;
  width: 968px;
  height: 345px;
  background: #02897a;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.promo-box-group {
  display: block;
  margin-left: 51px;
  margin-top: 49px;
  margin-bottom: 56px;
}
.promo-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  border: none;
  max-width: 510px;
  margin-bottom: 46px;
}
.promo-btn {
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.promo-btn:hover,
.promo-btn:focus {
  background-color: #e0e0e0;
}
.promo-screen {
  margin-top: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.fill-svg {
  fill: #02897a;
}
.footer-container {
  display: flex;
  margin-bottom: 10px;
}
.footer-social {
  display: block;
  margin-right: 146px;
}
.footer-social-box {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-social-box-group {
  display: block;
  width: 40px;
  height: 40px;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #edfffc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #017164;
}
.fill-svg {
  fill: #fff;
}
.footer-box-resourse {
  display: block;
  margin-right: 129px;
  padding: 0;
}
.footer-text-b {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.footer-box-resourse-group {
  display: block;
  list-style-type: none;
}
.footer-box-resourse-link {
  text-decoration: none;
  color: #22343d;
}
.footer-box-stuff {
  display: block;
  margin-right: 83px;
  padding: 0;
  max-width: 131px;
}
.footer-staff-box-group {
  display: block;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
}

.footer-box-stuff-link {
  text-decoration: none;
  color: #22343d;
}

.footer-text-link {
}

.footer-form {
  display: block;
}
.footer-text-p {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.footer-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  padding-left: 42px;
}
.footer-btn {
  display: block;
  padding: 0;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #017164;
}
.footer-last-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  margin-bottom: 40px;
}
.footer-box-mobile {
  position: relative;
  padding: 0;
  margin-bottom: 25px;
}
.footer-label {
}
.footer-mobile-svg {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}
